<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>176790331793-nl45oq9u5uoedgu0r3rp0lub7224ituk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.176790331793-nl45oq9u5uoedgu0r3rp0lub7224ituk</string>
	<key>API_KEY</key>
	<string>AIzaSyC1gl3X2QM6xtcWNw7fK6hFf1TxkOaaVik</string>
	<key>GCM_SENDER_ID</key>
	<string>176790331793</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dbwhite.zipscoot.ios</string>
	<key>PROJECT_ID</key>
	<string>zipscoot-caf79</string>
	<key>STORAGE_BUCKET</key>
	<string>zipscoot-caf79.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:176790331793:ios:fe1c453a98fb00c6113a30</string>
</dict>
</plist>